<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>百姓堂博客</title>
</head>
<body>
<div>
    <ul>
        <li>
            <h2>苗疆</h2>

            <a href="{$smarty.const.SITE_URL}index.php?m=Admin&c=Index&a=miaojiang">一招让女人跪着唱“征服”，死心塌地的跟着你！</a>
        </li>

        <li>
            <h2>民信</h2>

            <a href="{$smarty.const.SITE_URL}index.php?m=Admin&c=Index&a=minxin">从“秒射”男到 一夜30分钟的真实案例分享！早泄患者必看！</a>
        </li>
        <li>
            <h2>补肾</h2>

            <a href="{$smarty.const.SITE_URL}index.php?m=Admin&c=Index&a=bushen">一招让女-人跪着唱“征服”，死心塌地的跟着你！</a>
        </li>
        <li>
            <h2>贺卡</h2>

            <a href="{$smarty.const.SITE_URL}index.php?m=Admin&c=Index&a=heka">百姓堂新年贺卡</a>
        </li>
    </ul>

</div>

</body>
</html>