
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>星座宣言</title>
    <link href="{$smarty.const.CSS_URL}mouth_word_css.css" rel="stylesheet" type="text/css"  />

    <!-- jqueryMobile的css文件  -->
    <link rel="stylesheet" href="{$smarty.const.CSS_URL}jqueryMobile.css">
    <!-- 加载jquery文件 -->
    <script type="text/javascript" src="{$smarty.const.JS_URL}jquery.js"></script>
    <!-- 加载jqueryMobile文件 -->
    <script type="text/javascript" src="{$smarty.const.JS_URL}jqueryMobile.js"></script>

    <!--mobiscroll日期插件-->
    <link href="{$smarty.const.CSS_URL}mobiscroll.css" rel="stylesheet" type="text/css" />
    <script src="{$smarty.const.JS_URL}mobiscroll.js" type="text/javascript"></script>


</head>
<body>

<form method="post" action="{U('Menu/mouth_shows')}">
    <div class="content" style="text-align: center;margin-top: 100px;width:90%;">
        <label class="con-title" style="">星座物语</label></br>

        <input placeholder="请输入出生月份(阳历)" style="text-align: center;height:40px;" class="txt-birth" type="text"   name="txtBirth" /><br/>
        <input placeholder="请输入出生月份(阳历)"  style="text-align: center;height:40px;" class="txt-birthday" type="text"   name="txtBirthday" /><br/>
        <input  hidden="hidden"  name="nickname" value="{$user_info.nickname}"><br/>
        <input hidden="hidden"   name="sex" value="{$user_info.sex}"><br/>
        <input hidden="hidden"   name="headimgurl" value="{$user_info.headimgurl}"><br/>

        <input  class="submit-btn" style="text-align: center;height:40px;"  type="submit"  value="提交" />
    </div>




</form>




<p id="page_footer" style="text-align: center;color: #a9a9a9;;">Copyright 2013 - 2017 广州百姓堂药业连锁有限公司,All rights reserved</p>


</body>
</html>