
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>星座宣言</title>
    <link href="{$smarty.const.CSS_URL}mouth_word_css.css" rel="stylesheet" type="text/css"  />
</head>
<body>
<div class="content">

    <h5 class="nick-name" style="text-align: center;height:40px;">昵称:{$user_info.nickname}</h5>
    </br>
    <img class="logo-img" style=" width: 20%;height:20%;margin: 10px 40% auto;"  src="{$user_info.headimgurl}"></br>
    <img src="{$smarty.const.SITE_URL}Home/Menu/mouth_img?bg_img={$bg_img}&nick_name={$user_info.nickname}&head_img={$user_info.headimgurl}" >

</div>

<script type="text/javascript" src="{$smarty.const.JS_URL}jquery-1.12.3.min.js"></script>

<p id="page_footer" style="text-align: center;color: #a9a9a9;;">Copyright 2013 - 2017 广州百姓堂药业连锁有限公司,All rights reserved</p>
</body>
</html>